:root, :root * {
    padding: 0;
    margin: 0;
    border: 0;

    font-size: medium;
    font-weight: normal;

    --unit: 1vw;
    --dark: #3d3953;
    --darker: #060124;
    --light: #c578c5;
    --neutral: #7b4aa3;

    background-color: var(--dark);
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    background-color: inherit;
    color: inherit;
}

button:hover {
    cursor: pointer;
}